.form-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 25vw;
    height: 100vh;
    padding: 10px
}

.form-item {
    display: flex;
	flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 12px auto;
}

.form-item label {
    margin-bottom: 7px
}

.form-item input {
    width: 98%;
    height: 35px;
    border-raduis: 40px;
}

button {
    margin-top: 30px;
    width: 100%;
    height: 45px;
    border-raduis: 40px;
}